<!DOCTYPE html>
<html>

<head>
  <title>Elad's Protfoloio</title>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
  <link rel="stylesheet" href="app.css">
</head>

<body>
  <div id="app" class="container">
    <section class="row">
      <div class="small-12 columns">
        <h1 class="text-center">Elad's Static Sites</h1>
      </div>
    </section>
    <section class="row">
      <table>
        <thead>
          <tr>
            <th>Repo Link</th>
            <th>Site Link</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="project in projects">
            <td><a :href="project.repo">{{ project.repo }}</a></td>
            <td><a :href="project.site">{{ project.site }}</a></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  <script src="app.js"></script>
</body>

</html>
