<!DOCTYPE html>
<html>

<head>
  <title>Monster Slayer</title>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>

<body>
  <div id="app">
    <section class="row">
      <div class="small-6 columns">
        <h1 class="text-center">YOU</h1>
        <div class="healthbar">
          <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width:playerHealth*10 + '%'}">
            {{ playerHealth }}
          </div>
        </div>
      </div>
      <div class="small-6 columns">
        <h1 class="text-center">MONSTER</h1>
        <div class="healthbar">
          <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width:monsterHealth*10 + '%'}">
            {{ monsterHealth }}
          </div>
        </div>
      </div>
    </section>
    <section v-if="!gameRunning" class="row controls">
      <div class="small-12 columns">
        <button @click="newGame()" id="start-game">START NEW GAME</button>
      </div>
    </section>
    <section v-else class="row controls">
      <div class="small-12 columns"> 
        <button @click="attack()" id="attack">ATTACK</button>
        <button v-if="specialAttacks > 0" @click.once="specialAttack()" id="special-attack">SPECIAL ATTACK</button>
        <button @click="heal()" id="heal">HEAL</button>
        <button @click="giveUp()" id="give-up">GIVE UP</button>
      </div>
    </section>
    <section v-show="logs.length" class="row log">
      <div class="small-12 columns">
        <ul>
          <template v-for="log in logs">
            <li :class="log.type">
              {{ log.message }}
            </li>
          </template>
        </ul>
      </div>
    </section>
  </div>
  <script src="app.js"></script>
</body>

</html>